<script context="module">
  export function load({ error, status }) {
    return {
      props: {
        status: status,
        errorMessage: error.message,
      },
    };
  }
</script>

<script>
  export let status;
  export let errorMessage;
</script>

<div class="d-flex justify-content-center d-flex align-items-center vh-100">
  <div class="col-xl-4 col-lg-6 col-md-9 col-sm-8 col-11 px-sm-5 px-3 box pb-5">
    <div class="col-12 pt-5 d-flex justify-content-center text-center">
      <div>
        <h1 class="mb-5">Fehler {status}</h1>
        {#if status == 404}
          <strong>Abrakadabra diese Seite ist verschwunden 🎩🪄.</strong><br />
        {:else}
          <strong>{errorMessage} </strong><br />
        {/if}
        <a class="btn btn-secondary mt-5" href="/">Zurück</a>
      </div>
    </div>
  </div>
</div>

<style>
  .box {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
</style>
