<script lang="ts">
  import { onMount } from "svelte/internal";
  import { SvelteToast } from "@zerodevx/svelte-toast";
  import Cookies from "js-cookie";
  import NavBar from "../components/navbar.svelte";
  import { browser } from "$app/env";
  import jwtDecode from "jwt-decode";
  import user from "../ts/user";
  import Loading from "../components/Loading.svelte";

  let excludeNav = ["/dashboard/screen", "/user/signIn"];
</script>

<svelte:head>
  <title>Ämtliplan</title>
</svelte:head>

<div class="min-vh-100 mx-0 main">
  {#await user.refreshTokenToToken()}
    <Loading />
  {:then v}
    {#if browser && !excludeNav.includes(window.location.pathname)}
      <NavBar />
    {/if}
    <slot />
  {/await}
</div>

<SvelteToast />

<style>
  :root {
    --toastHeight: 80px;
    --toastContainerTop: auto;
    --toastContainerRight: 1rem;
    --toastContainerBottom: 2rem;
  }
</style>
