<script>
  import { fade } from "svelte/transition";
  import toast from "../../components/toast";
  import user from "../../ts/user";
  import userTask from "../../ts/userTasks";
  import task from "../../ts/task";
  import globalTS from "../../ts/global";


  let date;
  let task_task;
  let task_user;
  let task_user_dep;

  let temporaryUserTaskList = [];
  let nameList = [];
  let taskList = [];

  async function prepareValues() {
    nameList = await user.list();
    taskList = await task.get();
  }
  prepareValues();

  async function executeTasks() {
    let myUid = (await user.get()).user_id;
    let listToSend = [];
    try {
      for (const i in temporaryUserTaskList) {
        let t = temporaryUserTaskList[i];
        listToSend.push({
          id_user: t.task_user.user_id,
          id_user_dep: t.task_user_dep.user_id,
          id_task: t.task_task.task_id,
          date: new Date(t.date),
        });
      }

      userTask.create(listToSend);
      toast.success("Die Ämtlis wurden erfolgreich hinzugefügt");
      temporaryUserTaskList = [];
    } catch (e) {
      toast.error(e.message);
    }
  }

  function convertDate(d) {
    var mm = d.getMonth() + 1;
    var dd = d.getDate();
    var yy = d.getFullYear();

    return yy + "-" + mm + "-" + dd;
  }
</script>

<div class="row d-flex justify-content-center">
  <div
    class="ms-xl-5 ms-md-5 ms-sm-1 white-box col-xl-9 col-lg-6 col-md-11 col-sm-12"
  >
    <h2 class="text-center mb-5 mt-5">Neue Ämtlis hinzufügen</h2>
    {#await prepareValues() then v}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Datum</th>
            <th scope="col">Aufgabe</th>
            <th scope="col">Zuständiger</th>
            <th scope="col">Stellvertreter</th>
          </tr>
        </thead>
        <tbody>
          {#each temporaryUserTaskList as task, i}
            <tr transition:fade>
              <th scope="row">{globalTS.dateFormatter(task.date)}</th>
              <td>{task.task_task.name}</td>
              <td
                >{task.task_user.first_name +
                  " " +
                  task.task_user.last_name}</td
              >
              <td
                >{task.task_user_dep.first_name +
                  " " +
                  task.task_user_dep.last_name}</td
              >
              <td
                ><button
                  on:click={() => {
                    temporaryUserTaskList.splice(i, 1);
                    //small hack to tell svelte to re-render the list
                    temporaryUserTaskList = temporaryUserTaskList.filter(
                      (m) => m !== ""
                    );
                  }}
                  class="btn btn-primary"
                  href=""><i class="fas fa-trash" /></button
                ></td
              >
            </tr>
          {/each}

          <tr>
            <th scope="row">
              <input
                type="date"
                class="form-control"
                placeholder="Date"
                bind:value={date}
                name="date"
              /></th
            >
            <td
              ><select class="form-select" bind:value={task_task}>
                <option value="" disabled selected hidden>Aufgabe...</option>
                {#each taskList as u}
                  <option value={u}>{u.name}</option>
                {/each}
              </select></td
            >
            <td
              ><select class="form-select" bind:value={task_user}>
                <option value="" disabled selected hidden>Zuständiger...</option
                >
                {#each nameList as u}
                  <option value={u}>{u.first_name + " " + u.last_name}</option>
                {/each}
              </select></td
            >
            <td
              ><select class="form-select" bind:value={task_user_dep}>
                <option value="" disabled selected hidden
                  >Stellvertreter...</option
                >
                {#each nameList as u}
                  <option value={u}>{u.first_name + " " + u.last_name}</option>
                {/each}
              </select></td
            >
            <td
              ><button
                on:click={() => {
                  temporaryUserTaskList.push({
                    date,
                    task_task,
                    task_user,
                    task_user_dep,
                  });
                  temporaryUserTaskList = temporaryUserTaskList;
                }}
                class="btn btn-primary"
                href=""><i class="fas fa-plus" /></button
              ></td
            >
          </tr>
        </tbody>
      </table>
      <div class="text-center mt-5">
        <button
          class="btn btn-primary text-center"
          on:click={() => executeTasks()}>Anwenden</button
        >
      </div>
    {/await}
  </div>
</div>
