<script>
  import users from "../../ts/user";
</script>

{#await users.get() then user}
  <h1 class="text-center mt-5">Was willst du machen?</h1>
  <div class="d-flex justify-content-center pt-5 row text-center h-100">
    {#if user.role.permissions["userTask_write"]}
      <a
        class="white-box col-md-3 col-sm-5 col-11 mx-2"
        href="/manage/userTasks"
      >
        <i class="fas fa-check" />
        <h4>Benutzer-Ämtli verwalten</h4>
      </a>
    {/if}
    {#if user.role.permissions["userTask_viewHistory"]}
    <a class="white-box col-md-3 col-sm-5 col-11  mx-2" href="/manage/userTaskHistory">
      <i class="fas fa-clock" />
      <h4>Aufgaben-History</h4>
    </a>
  {/if}
    {#if user.role.permissions["task_write"]}
      <a class="white-box col-md-3 col-sm-5 col-11 mx-2" href="/manage/tasks">
        <i class="fas fa-tasks" />
        <h4>Ämtlis verwalten</h4>
      </a>
    {/if}
    {#if user.role.permissions["user_write"]}
      <a class="white-box col-md-3 col-sm-5 col-11  mx-2" href="/manage/users">
        <i class="fas fa-users" />
        <h4>Benutzer verwalten</h4>
      </a>
    {/if}
  </div>
{/await}

<style>
  .fas {
    font-size: 2em;
    margin-bottom: 10px;
  }
  .white-box {
    min-height: 0px;
    padding: 20px;
    text-decoration: none;
    color: black;
  }
</style>
