<script lang="ts">
  import Loading from "../../components/Loading.svelte";
  import userFunction from "../../ts/user";
  import type prisma from "@prisma/client";
  import type { user_roles } from "@prisma/client";
  import { onMount } from "svelte";

  let user_id: number;
  let newPassword: string;

  type user = prisma.users & { role: prisma.user_roles };
  let userList: Array<user> = [];
  let roleList: Array<user_roles> = [];
  let editUser: Partial<user>;
  let createUser: Partial<user>;

  const getRoles = async () => (roleList = await userFunction.listRoles());

  const getUsers = async () => (userList = await userFunction.list(true));

  onMount(async () => {
    user_id = (await userFunction.get()).user_id;
    getRoles();
    await getUsers();
    createUser = userList[0];
    editUser = userList[0];
  });
</script>

<div class="row d-flex justify-content-center">
  <div
    class="ms-xl-5 ms-md-5 ms-sm-1 white-box col-xl-9 col-lg-6 col-md-11 col-sm-12"
  >
    <h2 class="text-center mb-3 mt-3">User Management</h2>
    <button
      on:click={() =>
        (createUser = {
          first_name: "",
          last_name: "",
          email: "",
          password: "",
          id_user_role: 1,
        })}
      data-bs-toggle="modal"
      data-bs-target="#newUserModal"
      class=" btn floating-action-button"><i class="fas fa-plus" /></button
    >
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        {#each userList as user}
          <tr>
            <th scope="row">{user.user_id}</th>
            <td>{user.first_name} {user.last_name}</td>
            <td>{user.email}</td>
            <td>{user.role.name}</td>
            <td
              ><button
                on:click={() => (editUser = user)}
                class="btn btn-primary"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#editUser"
                ><i class="fas fa-pen" aria-hidden="true" /></button
              ></td
            >
          </tr>
        {/each}
      </tbody>
    </table>
  </div>
</div>

{#if editUser != undefined}
  <!-- Edit user modal -->
  <div
    class="modal fade"
    id="editUser"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            {editUser.first_name + " " + editUser.last_name} bearbeiten
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          />
        </div>
        <div class="modal-body">
          <form
            on:submit|preventDefault={() =>
              userFunction.updateUser(editUser, editUser.user_id)}
          >
            <div class="mb-4">
              <p class="mb-1">Vorname</p>
              <input
                type="text"
                class="form-control"
                bind:value={editUser.first_name}
              />
              <p class="mb-1 mt-4">Nachname</p>
              <input
                type="text"
                class="form-control"
                bind:value={editUser.last_name}
              />
              <p class="mb-1 mt-4">Rolle</p>
              <select class="form-select" bind:value={editUser.id_user_role}>
                <option value="0" disabled selected hidden />
                {#each roleList as role}
                  <option value={role.user_role_id}>{role.name}</option>
                {/each}
              </select>
              <p class="mb-4 mt-4">Email</p>
              <input
                type="text"
                class="form-control"
                bind:value={editUser.email}
              />
              <div class="mb-1 mt-4">
                <a
                  data-bs-toggle="collapse"
                  href="#resetPassword"
                  aria-expanded="false"
                >
                  Passwort zurücksetzen
                </a>
                <div class="collapse" id="resetPassword">
                  <div class="mt-4 mb-3">
                    <form
                      on:submit|preventDefault={() =>
                        userFunction.resetPassword(
                          newPassword,
                          editUser.user_id
                        )}
                    >
                      <div class="mb-3" />
                      <div class="mb-3">
                        <input
                          placeholder="Neues Passwort"
                          type="password"
                          class="form-control"
                          bind:value={newPassword}
                        />
                      </div>
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary"
                          >Password zurücksetzen</button
                        >
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Speichern</button>
              <div
                class="btn text-white bg-danger"
                on:click={() => userFunction.deleteUser(editUser.user_id)}
              >
                Löschen
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{/if}

<!-- New user modal -->
{#if createUser != undefined}
  <div
    class="modal fade"
    id="newUserModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Neuer Benutzer</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          />
        </div>
        <div class="modal-body">
          <form
            on:submit|preventDefault={() => userFunction.signUp(createUser)}
          >
            <div class="mb-4">
              <p class="mb-1">Vorname</p>
              <input
                type="text"
                class="form-control"
                bind:value={createUser.first_name}
              />
              <p class="mb-1 mt-4">Nachname</p>
              <input
                type="text"
                class="form-control"
                bind:value={createUser.last_name}
              />
              <p class="mb-1 mt-4">Rolle</p>
              <select class="form-select" bind:value={createUser.id_user_role}>
                <option value="" disabled selected hidden />
                {#await roleList then roles}
                  {#each roles as role}
                    <option value={role.user_role_id}>{role.name}</option>
                  {/each}
                {/await}
              </select>
              <p class="mb-1 mt-4">Email</p>
              <input
                type="email"
                class="form-control"
                bind:value={createUser.email}
              />
              <p class="mb-1 mt-4">Passwort</p>
              <input
                type="password"
                class="form-control"
                bind:value={createUser.password}
              />
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Speichern</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{/if}

<style>
  .floating-action-button {
    margin: 10px;
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #0069ff;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    text-decoration: none;
  }
</style>
