<script lang="ts">
  import { onMount } from "svelte";

  import toast from "../../components/toast";
  let email = "";
  let password = "";
  let errorMessage = "";

  async function signIn() {
    var requestOptions = {
      credentials: "include" as RequestCredentials,
      method: "POST",
      headers: [["Content-Type", "application/json"]],
      body: JSON.stringify({
        email: email.toLowerCase(),
        password: password,
      }),
    };

    fetch(`${import.meta.env.VITE_API_URL}/user/signIn`, requestOptions).then(
      async (r) => {
        if (r.status == 200) {
          sessionStorage.clear();
          localStorage.setItem("session_token", await (await r.json()).refreshToken);
          window.location.replace("/");
        } else {
          toast.error(await r.text());
        }
      }
    );
  }
</script>

<div class="d-flex justify-content-center pt-5">
  <div class="col-xl-4 col-lg-6 col-md-9 col-sm-8 col-11 px-sm-5 px-3 box pb-5">
    <div class="col-12 pt-5 d-flex justify-content-center text-center">
      <div>
        <img src="/img/taskbox-logo.png" height="70px" alt="" />
        <h1 class="mt-4">Ämtli Plan</h1>
        <p>Willkommen zurück!</p>
      </div>
    </div>
    <form on:submit|preventDefault={() => signIn()}>
      <input
        bind:value={email}
        type="email"
        class="form-control mt-3"
        required
        placeholder="Email Adresse"
      />

      <input
        bind:value={password}
        type="password"
        class="form-control mt-3"
        required
        placeholder="Passwort"
      />

      <div class="text-center mt-5">
        <button type="submit" class="btn btn-primary">Einloggen</button>
      </div>
    </form>
  </div>
</div>

<style>
  .box {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
</style>
