<script>
  import daellenbach from "../../ts/integrations/daellenbach";
  import cron from "cron-parser";
  import Switch from "../../components/Switch.svelte";

  let nextDate = new Date(
    cron.parseExpression("0 10 * * 3-5").next().toString()
  ).toLocaleString(undefined, {
    year: "2-digit",
    weekday: "long",
    month: "2-digit",
    day: "2-digit",
  });
  let status;
  let portions;
  let autoInscribe;
  let portionCount;

  const getCurrentStatus = async () => {
    let res = await daellenbach.getUserStatus();
    portions = res.portions;
    if (res.portions == 0) portions = 1;
    autoInscribe = res.autoInscribe;
    status = res.status;
    portionCount = res.portionCount;
  };
  getCurrentStatus();
</script>

{#if status != undefined}
  <div class="row d-flex justify-content-center mt-5">
    <div
      class="ms-xl-5 ms-md-5 ms-sm-1 white-box col-xl-5 col-lg-6 col-md-7 col-sm-12 pb-4"
      style="min-height: 0px;"
    >
      <h2 class="text-center mt-3">Dällenbach</h2>
      <p class="text-center mb-5 text-muted">
        Eintragen für den {nextDate}
      </p>
      <div class="d-flex justify-content-center align-items-center" />

      <div class="d-flex align-items-end d-flex justify-content-between">
        <h5>Besuchst du Dällenbach?</h5>
        <h5 class="fw-bold">{status ? "Ja" : "Nein"}</h5>
      </div>
      <div class="d-flex align-items-end d-flex justify-content-between mt-4">
        <h5>Anzahl Portionen</h5>
        <input
          min="1"
          max="10"
          disabled={status}
          bind:value={portions}
          class="form-control"
          type="number"
          style="width: 60px;"
        />
      </div>
      <div class="d-flex align-items-end d-flex justify-content-between mt-4">
        <h5>Eintragen für ganze Woche</h5>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            disabled={status}
            bind:checked={autoInscribe}
          />
        </div>
      </div>
      <div class="text-center">
        <button
          class="btn btn-{status != false ? 'secondary' : 'primary'} mt-5"
          on:click={() =>
            daellenbach.inscribe(portions, autoInscribe, !status)}
          >{status != false
            ? "Ich besuche den Dällenbach nicht"
            : "Ich besuche den Dällenbach"}</button
        >
        <p class="text-muted fst-italic mt-3">
          Aktuelle Anzahl Besucher: {portionCount}
        </p>
      </div>
    </div>
  </div>
{/if}

<style></style>
