<!-- All tasks dashboard -->
<script lang="ts">
  import Card from "../../components/card.svelte";
  import userTaks from "../../ts/userTasks";
  import Loading from "../../components/Loading.svelte";
  import JSConfetti from "js-confetti";
import { onMount } from "svelte";


  let jsConfetti;

  onMount(()=> jsConfetti = new JSConfetti())

  let todaysTasks = [];
  let tasksDate;
  let time;

  function getTime() {
    var d = new Date();
    var s = d.getSeconds();
    var m = d.getMinutes();
    var h = d.getHours();

    time =
      ("0" + h).substr(-2) +
      ":" +
      ("0" + m).substr(-2) +
      ":" +
      ("0" + s).substr(-2);
  }

  async function getTodaysTasks() {
    todaysTasks = await userTaks.get(
      "?startDate=" +
        new Date().toISOString().slice(0, 10) +
        "&endDate=" +
        new Date().toISOString().slice(0, 10)
    );
    tasksDate = new Date().toLocaleString(undefined, {
      weekday: "long",
      year: "numeric",
      month: "2-digit",
      day: "2-digit",
    });
  }

  setInterval(() => getTime(), 1000);
  setInterval(() => getTodaysTasks(), 30000);

  async function handleKeydown(event: KeyboardEvent) {
    try {
      let idToChange = todaysTasks.find((task) => task.task.hotkey == event.key)
        .task.task_id;
      let res = await userTaks.changeStatus(idToChange, false);
      if ((await res).isDone) {
        jsConfetti.addConfetti({
          confettiNumber: 300,
          confettiColors: ["#004ab4", "#0069ff"],
        });
      }

      getTodaysTasks();
    } catch {}
  }
</script>

<svelte:window on:keydown={handleKeydown} />
<div class="ps-5 pe-5 nav-screen text-center">
  <p class="nav-time text-muted">{time ?? "Loading..."}</p>
  <a class="navbar-brand me-0" href="/"
    ><img src="/img/taskbox-logo.png" alt="" height="20px" /> Ämtiplan</a
  >
  <p class="nav-date text-muted">{tasksDate ?? "Loading..."}</p>
</div>
<div class="row d-flex justify-content-center align-items-center pt-5">
  <div class="col-12">
    <div class="col-12 pt-3 row d-flex justify-content-center">
      {#await getTodaysTasks()}
        <Loading />
      {:then}
        {#each todaysTasks as task}
          <div class="card-bg col-4 mb-3 ms-3 ps-0 p-2">
            <Card taskProperties={task} />
          </div>
        {/each}
      {/await}
    </div>
  </div>
</div>

<style>
  :global(.indicatorBox) {
    position: absolute !important;
    border-radius: 10px 0px 0px 10px !important;
    width: 25px !important;
    height: 120% !important;
  }
  :global(.button-card) {
    position: relative;
  }
  :global(.button-card img) {
    position: relative;
    margin-left: 50px !important;
  }
  .navbar-brand {
    color: black;
  }
  .nav-time {
    font-size: 13px;
    position: absolute;
    left: 40px;
    top: 15px;
  }
  .nav-date {
    font-size: 13px;
    position: absolute;
    right: 40px;
    top: 15px;
  }
  .nav-screen {
    width: 100%;
    height: 50px;
    padding-top: 10px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 3px -1px rgba(0, 0, 0, 0.04),
      0 2px 4px -1px rgba(0, 0, 0, 0.04);
  }
  .card-bg {
    border-radius: 10px;
    background-color: white;
  }
</style>
