<script>
  import userTasks from "../ts/userTasks";

  import _user from "../ts/user";
  import { onMount } from "svelte";
  let oldPassword = "";
  let newPassword = "";

  let user;
  let tasksNotDone;
  const getUser = async () => {
    user = await _user.get();
    tasksNotDone = await userTasks.getUndoneTasks(user.user_id);
  };

  onMount(async () => getUser());
</script>

<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"
      ><img src="/img/taskbox-logo.png" alt="" height="20px" /> Ämtiplan</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon" />
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/dashboard/personal"
            >Meine Aufgaben</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/dashboard/general">Alle Aufgaben</a>
        </li>
        {#if user != undefined && (user.role.permissions["userTask_write"] || user.role.permissions["user_write"] || user.role.permissions["tasks.write"] || user.role.permissions["userTask_viewHistory"])}
          <li class="nav-item">
            <a class="nav-link active" href="/manage">Management</a>
          </li>
        {/if}
        <li class="nav-item dropdown">
          <a
            class="nav-link active dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Integrationen
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/integrations/daellenbach"
                >Dällenbach</a
              >
            </li>
          </ul>
        </li>
      </ul>

      <button
        data-bs-toggle="modal"
        data-bs-target="#userModal"
        id="user"
        class="ms-2 mb-2 d-flex align-items-center"
      >
        <div id="pb">
          {user != undefined
            ? user.first_name.charAt(0) + user.last_name.charAt(0)
            : ".."}
        </div>
      </button>
    </div>
  </div>
</nav>
{#if user != undefined}
  <!--User Modal -->
  <div class="modal fade" id="userModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Mein Konto</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          />
        </div>
        <div class="modal-body">
          <p class="fw-bold">Infos</p>
          <p>User ID: {user.user_id}</p>
          <p>Email: {user.email}</p>
          <p>Name: {user.first_name + " " + user.last_name}</p>
          <p>Rolle: {user.role.name}</p>

          <p class="fw-bold"><br />Statistiken</p>
          <p>
            Anzahl vergessene Aufgaben: {tasksNotDone != undefined
              ? tasksNotDone.sum
              : ""}
          </p>
          <p class="fw-bold"><br />Einstellugen</p>
          <a
            data-bs-toggle="collapse"
            href="#changePassword"
            aria-expanded="false"
          >
            Passwort ändern
          </a>
          <div class="collapse" id="changePassword">
            <div class="mt-4 mb-3">
              <form
                on:submit|preventDefault={() => {
                  _user.changePassword(oldPassword, newPassword);
                  (oldPassword = ""), (newPassword = "");
                }}
              >
                <div class="mb-3">
                  <input
                    placeholder="Altes Passwort"
                    type="password"
                    class="form-control"
                    bind:value={oldPassword}
                  />
                </div>
                <div class="mb-3">
                  <input
                    placeholder="Neues Passwort"
                    type="password"
                    class="form-control"
                    bind:value={newPassword}
                  />
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary"
                    >Speichern</button
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class=""
            data-bs-dismiss="modal"
            on:click={() => _user.signOut()}>Ausloggen</button
          >
        </div>
      </div>
    </div>
  </div>
{/if}

<style>
  button {
    background-color: transparent;
    border: none;
  }
  #pb {
    background-color: #0069ff;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: white;
    text-decoration: none;
  }
  .navbar {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 3px -1px rgba(0, 0, 0, 0.04),
      0 2px 4px -1px rgba(0, 0, 0, 0.04);
  }
</style>
