@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,400;0,700;1,400&display=swap");

html,
body {
  background-color: #e8e9ef !important;
  min-height: 100% !important;
  font-family: "Saira" !important;
}
.main {
  background-color: #e8e9ef;
}

.row {
  margin: 0 !important;
}

input {
  border-radius: 10px !important;
  box-shadow: none !important;
}

.btn-primary {
  background-color: #0069ff !important;
}

h1,
h2,
h3 {
  font-weight: 700 !important;
  color: #004ab4;
}

.white-box {
  background-color: white !important;
  position: relative;
  min-height: 90vh;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  border-radius: 15px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
